.shipping {
  position: relative;
  background-color: white;
  color: #000;
  height: 90vh;
  left: 2.5%;
  
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
